{% extends "index.html" %}

{% block title %} Morse! - Home {% endblock %}

{% block content %}

<div class="py-3">
    <div class="container">
        <h1 class="display-1">Morse!</h1>
        <div class="row">
            <div class="col ms-5">
                <p class="lead">
                    Morse! é uma plataforma online de controle e gerenciamento
                    do seu negócio. Tendo versatilidade em Ordens de Serviços e controle de estoque
                </p>
            </div>
            <div class="col"></div>
        </div>
    </div>
</div>

<hr>

<div class="container"></div>

{% endblock %}